:root {
    --primary-color: #f8b400;
    --secondary-color: #faf5e4;
    --primary-font: "Spline Sans Mono", monospace;
    --secondary-font: "Poppins", sans-serif;
}

body {
    font-family: var(--primary-font);
}

.hero {
    padding: 200px;
    text-align: center;
    background-color: var(--secondary-color);
}

.hero h1 {
    font-size: 96px;
    line-height: 1.5;
}

.hero h2 {
    font-size: 24px;
    font-weight: 400;
}

.hero p {
    font-size: 36px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.hero a {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 4px;
    padding: 15px 30px;
    font-family: var(--secondary-font);
}

.homepage-project-title {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    padding: 70px;
}

.homepage-project-content img {
    border-radius: 8px;
}

.homepage-project-content h2 {
    font-size: 62px;
    font-weight: 700;
    line-height: 1.5;  
}

.homepage-project-content p {
    font-family: var(--secondary-font);
    font-size: 20px;
    line-height: 1.8;
}

.homepage-project-content a {
    border: 2px solid var(--primary-color);
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    border-radius: 4px;
    padding: 15px 30px;
    font-family: var(--secondary-font);

}