:root {
    --primary-color: #f8b400;
    --secondary-color: #faf5e4;
    --primary-font: "Spline Sans Mono", monospace;
    --secondary-font: "Poppins", sans-serif;
}

body {
    font-family: var(--primary-font);
}



.hero {
    padding: 200px;
    text-align: center;
    background-color: var(--secondary-color);
}

.hero h1 {
    font-size: 96px;
    line-height: 1.5;
}

.hero h2 {
    font-size: 24px;
    font-weight: 400;
}

.hero p {
    font-size: 36px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.button-primary {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 4px;
    padding: 15px 30px;
    font-family: var(--secondary-font);
    transition: all 200ms ease-in-out;
}

.button-primary:hover {
    border: 2px solid var(--primary-color);
    color: black;
}

.homepage-project-title {
    text-align: center;
    font-size: 26px;
    line-height: 1.5;
    margin-top: 20px;
    padding: 70px;
}

.homepage-project-content img {
    border-radius: 8px;
}

.homepage-project-content h2 {
    font-size: 62px;
    font-weight: 700;
    line-height: 1.5;  
}

.homepage-project-content p {
    font-family: var(--secondary-font);
    font-size: 20px;
    line-height: 1.8;
}

.homepage-project-content .right-align {
    text-align: end;
}

.button-secondary {
    border: 2px solid var(--primary-color);
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    border-radius: 4px;
    padding: 15px 30px;
    font-family: var(--secondary-font);
    transition: all 200ms ease-in-out;
}

.button-secondary:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.work-inquiry {
    background-color: var(--secondary-color);
    padding: 30px 60px;
    border-radius: 8px;
}

.work-inquiry h3 {
    font-size: 34px;
}

.footer-email {
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.footer-email:hover {
    color: var(--primary-color);
}

.footer-icons a {
    font-size: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px 16px;
    margin: 0 30px;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
}

.footer-icons a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

@media (width < 960px) {
    .hero {
        padding: 30px 15px;
    }

    .hero h1 {
        font-size: 60px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero p {
        font-size: 24px;
    }

    .homepage-project-title {
        padding: 15px;
    }

    .homepage-project-content, .homepage-project-content .right-align{
        text-align: center;
    }

    .homepage-project-content h2 {
        font-size: 40px;
    }
}